* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Cairo", sans-serif;
  background-image: radial-gradient(circle at top, hsl(214deg, 43%, 35%), hsl(238deg, 65%, 20%));
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100%;
  height: 30vh;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url(../images/pexels-cottonbro-5483077.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid 5px white;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
header::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.369);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}
header .profile {
  background-image: url(../images/mee.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: solid 5px white;
  z-index: 8;
  position: absolute;
  left: 30px;
  bottom: -50px;
}
header h1 {
  color: hsl(0deg, 0%, 99%);
  z-index: 2;
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
}
header p {
  color: #fff;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
}

section {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
section ul {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section ul li {
  width: 350px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  padding-left: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fff;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 50px;
  transform: translateY(2300px);
  -webkit-transform: translateY(2300px);
  -moz-transform: translateY(2300px);
  -ms-transform: translateY(2300px);
  -o-transform: translateY(2300px);
}
section ul li ion-icon {
  color: rgb(57, 56, 56);
  margin-right: 15px;
  font-size: 2rem;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  width: 10%;
}
section ul li a {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.4rem;
  width: 90%;
}
section ul li:not(:first-child) {
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */